
/* Universal Styles */
body {
	margin: 0;
	font-family: Helvetica, sans-serif;
	color: DimGrey;
	font-size: 16px;
}

body h1, h2, h3, h4, em {
	color: #404040;
	margin: 0;
}


/* Header */
header .mobile {
	display: none;
}

header {
	display: flex;
	width: 100%;
	height: 64px;
	position: fixed;
	background-color: white;
	align-items: center;
	z-index: 1;
}

header .logo {
	display: flex;
	height: 32px;
	align-items: center;
}

header a, a:visited {
	text-decoration: none;
	color: #404040;
}

header a:hover {
	color: blue;
}

.company {
	display: flex;
	flex-direction: row;
	font-family: Verdana;
	align-items: center;
	margin-left: 24px;
	flex-grow: 1;
}

.company em {
	font-weight: bolder;
	font-style: normal;
	font-family: Gadget;
}

header ul {
	display: flex;
	flex-direction: row;
	padding-right: 24px;
}

header li {
	display: flex;
	padding-left: 16px;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 14px;
}

/* Header Section for Mobile */
@media only screen and (max-width: 480px) {
	header {
		position: absolute;
	}

	header .desktop {
		display: none;
	}

	
	header .mobile {
		display: flex;
		justify-content: space-between;
		width: 100%;
		height: 64px;
		padding: 0 42px;
	}

}


/* Main Content */
.main {
	padding-top: 64px;
}

.pic_container_horizontal {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.spacer_top {
	height: 32px;
}

.spacer_bottom {
	display: block;
	height: 2.5em;
}

.top_text {
	font-weight: bold;
	font-size: 24px;
	color: #404040;
}
	
.middle_text {
	padding-top: 8px;
	padding-bottom: 8px;
}	
	
.bg_grey {
	background-color: Lightgrey;
}


.left_side {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 60%;
	height: auto;
	padding: 0px 24px 32px 24px;
}


/* Start Here Section */
.start {
	background-color: Lightgrey;
	padding-top: 32px;
}

.left_side_pic {
	height: auto;
	overflow: hidden;
}

#no_margin_top {
	margin-top: 0;
}

.info_left {
	padding-top: 32px;
}

.info_left_quote_src {
	display: flex;
	align-items: flex-end;
	height: 2em;
	font-weight: bolder;
}

.left_side img {
	display: block;
	max-height: auto;
	max-width: 100%;
}
	
.info_left_quote h1 {
		margin-top: 32px;
		margin-bottom: 24px;
}

.right_side {
	display: flex;
	flex-direction: column;
	width: 40%;
	flex-grow: 1;
}

.right_side h1 {
	margin-bottom: 0;
}

.right_side h4 {
	margin: 1.5em 0;
}

.academy_info .right_side {
		border-left: solid Lightgrey 2px;
}

.start_text h4 {
	line-height: 1.6;
}

.start_here {
	background-color: #404040;
	color: Lightgrey;
	padding: 8px 20px;
	margin-right: 50%;
	text-align: center;
	font-weight: bold;
}

.right_side .pic_container_horizontal {
	display: flex;
	flex-direction: horizontal; 
	align-items: center;
}


/* Start Here Section for Mobile */
@media only screen and (max-width: 480px) {
	.start {
		padding-top: 0;
	}
	
	.pic_container_horizontal {
		display: flex;
		flex-direction: column;
		align-items: center;
		}
	
	.left_side {
		width: 100%;
		padding: 0;
	}
	
	.start img {
		padding-bottom: 32px;
	}
	
	.right_side {
		width: 100%;
		margin: 0 0 32px 0px;
	}
	
	.right_side h1 {
		padding-left: 16px;
	}
		
	.right_side h4 {
		margin-top: 32px;
		margin-bottom: 24px;
		padding-left: 16px;
	}
	
	.start_here {
		margin: 0 16px;

	}
}


/* Academy Info Section */
.academy_info .pic_container_horizontal	{
	border-bottom: solid 4px Lightgrey;
}

.pic_small {
	margin: 16px;
	width: 35%;
}

.pic_small img {
	max-width: 100%;
	max-height: auto%;
}

#info_left_quote_src {
	font-size: 14px;
	font-weight: bolder;
}

.text_container {
	width: 65%;
	height: 100%;
	text-align: left;
}

.text_container h3 {
	margin: 0;
}

#campus a {
	font-weight: bold;
	text-decoration: none;
	color:#00BFFF;
}

.container h1 {
	text-align: center;
	padding: 32px 0;
	margin: 0;
}


/* Academy Info Section for Mobile */
@media only screen and (max-width: 480px) {
	.pic_container_horizontal .info_left {
		display: none;
	}
	
	#campus .pic_container_horizontal {
		align-items: flex-start;
	}
	
	.pic_small {
		display: flex;
		justify-content: center;
		overflow: hidden;
		width: 100%;
		height: auto;
		margin: 0;
	}
	
	.academy_info .pic_container_horizontal	{
		border: none;
		width: 100%;
		margin: 0;
}
	
	.academy_info .right_side {
		border: none;
		justify-content: center;
		margin: 0;
	}
	
	.text_container {
		padding: 32px 0 64px 32px;
	}
	
	.spacer_top {
		height: 16px;
	}
	
	.spacer_bottom {
		display: none;
	}
	
	.pic_small img {
		display: block;
		width: 100%;
		height: auto;
		padding: 0 16px;
		overflow: hidden;
	}

	.academy_info .bg_grey {
		background-color: white;
		
	}
	
	.bg_grey .text_container {
		padding-bottom: 32px;
	}

}
	

/* Courses Section */
.courses_mobile {
	display: none;
}

.courses {
	background-color: Lightgrey;
}

.course_list {
	display: flex;
	max-width: 100%;
	margin: 0 72px;
	justify-content: center;
}

.pic_medium {
	display: block;
	max-width: 100%;
	height: auto;
}

.course_text {
	margin: 16px 16px 24px 16px;
	max-width: 100%;
}

.course-text h3 {
	margin-top: 16px;
	margin-bottom: 8px;
}


/* Courses Section for Mobile */
@media only screen and (max-width: 480px) {
	.courses {
		display: none;
	}
	
	.courses_mobile {
		display: block;
	}
	

	.courses {
		text-align: center;
		border: 0 16px 0 16px;
		width: 90%;
	}
	
	.courses_mobile h1 {
		text-align: center;
		padding-top: 32px;
		border-top: solid Lightgrey 1px;
	}

	.courses_mobile ul {
		padding: 0 16px;
		margin-bottom: 32px;
	}
	
	.courses_mobile li {
		display: flex;
		flex-direction: column;
		color: #555555;
		font-weight: bold;
		font-size: 20px;
		background-color: Lightgrey;
		padding: 16px 0 24px 16px;
		margin-top: 8px; 
	}
	
	
}
	
	
/* Thesis Section */
.thesis_list {
	display: flex;
}

.pic_container_vertical {
	background-color: white;
	width: 30%;
	overflow: hidden;
	margin-left: 16px;
	margin-right: 16px;
	margin-bottom: 32px;
}
	
.thesis_list .left_side {
	padding-bottom: 16px;
}

.video_container_vertical {
	padding-bottom: 24px;
}
	
video {
	max-width: 100%;
	height: auto;
}
	
/* Thesis Section for Mobile */
@media only screen and (max-width: 480px) {
	.thesis_list .right_side {
		display: none;
	}
	
	.thesis_list .thesis_text {
		display: none;
	}
	
	.thesis_list .left_side {
		padding: 0;
	}
	.thesis {
		border-top: solid Lightgrey 1px;
	}
	
	.thesis h1 {
		padding-bottom: 16px;
	}
	
}
	

/* Footer */	
footer {
	display: flex;
	width: 100%;
	border-top: solid 2px Lightgrey;
	padding-top: 16px;
	padding-bottom: 46px;
	color: #404040;
	font-size: 12px;
	font-weight: bold;
}

footer .copyright {
	display: flex;
	flex-grow: 1;
	padding-left: 24px;
}

footer .legal {
	text-align: right;
	padding-right: 24px;
	padding-left: 14px;
}

footer a, a:visited {
	text-decoration: none;
	color: #404040;
}

footer a:hover {
	color: blue;
}

	
/* Footer Section for Mobile */
@media only screen and (max-width: 480px) {
	footer {
		padding-bottom: 16px;
		border: 0;
	}
	
	footer .copyright {
		padding-left: 0;
		justify-content: center;
	}
	
	footer .legal {
		display: none;
	}

	#terms {
		display: none;
	}
	
}
